Import Library

In [1]:
import os
import json
import pandas as pd

Extract dan Convert file JSON to CSV (train)

In [ ]:
def read_file_json_train(directory_train, output_train_csv):
    data_list_train = []
    for filename in os.listdir(directory_train):
        if filename.endswith('.json'):
            filepath_train = os.path.join(directory_train, filename)
            with open(filepath_train, 'r', encoding='utf-8') as f:
                data_train = json.load(f) # baca .json data
                data_list_train.append(data_train)
    df_train = pd.DataFrame(data_list_train)
    df_train.to_csv(output_train_csv, index=False)
    print(f'Data disimpan ke {output_train_csv}')

directory_train = "../data/liputan6_data/canonical/train"
output_train_csv = "liputan6_data/canonical/train_data.csv"
read_file_json_train(directory_train, output_train_csv)

Data disimpan ke liputan6_data/canonical/train_data.csv

In [3]:
df_train = pd.read_csv('liputan6_data/canonical/train_data.csv')
df_train.head()

,id,url,clean_article,clean_summary,extractive_summary
0,100000,https://www.liputan6.com/news/read/100000/yudh...,"[['Liputan6', '.', 'com', ',', 'Jakarta', ':',...","[['Menurut', 'Presiden', 'Susilo', 'Bambang', ...","[0, 1]"
1,100002,https://www.liputan6.com/news/read/100002/jepa...,"[['Liputan6', '.', 'com', ',', 'Jakarta', ':',...","[['Pada', 'masa', 'silam', 'Jepang', 'terlalu'...","[2, 3]"
2,100003,https://www.liputan6.com/news/read/100003/pulu...,"[['Liputan6', '.', 'com', ',', 'Kutai', ':', '...","[['Puluhan', 'hektare', 'areal', 'persawahan',...","[1, 5]"
3,100004,https://www.liputan6.com/news/read/100004/pres...,"[['Liputan6', '.', 'com', ',', 'Jakarta', ':',...","[['Sekjen', 'PBB', 'Kofi', 'Annan', 'memuji', ...","[2, 5]"
4,100005,https://www.liputan6.com/news/read/100005/warg...,"[['Liputan6', '.', 'com', ',', 'Solok', ':', '...","[['Untuk', 'mempercepat', 'pelaksanaan', 'bela...","[0, 2]"

Extract dan Convert file JSON to CSV (dev)

In [ ]:
def read_file_json_dev(directory_dev, output_dev_csv):
    data_list_dev = []
    for filename in os.listdir(directory_dev):
        if filename.endswith('.json'):
            filepath_dev = os.path.join(directory_dev, filename)
            with open(filepath_dev, 'r', encoding='utf-8') as f:
                data_dev = json.load(f) # baca .json data
                data_list_dev.append(data_dev)
    df_dev = pd.DataFrame(data_list_dev)
    df_dev.to_csv(output_dev_csv, index=False)
    print(f'Data disimpan ke {output_dev_csv}')

directory_dev = "../data/liputan6_data/canonical/dev"
output_dev_csv = "liputan6_data/canonical/dev_data.csv"
read_file_json_dev(directory_dev, output_dev_csv)

Data disimpan ke liputan6_data/canonical/dev_data.csv

In [5]:
df_dev = pd.read_csv('liputan6_data/canonical/dev_data.csv')
df_dev.head()

,id,url,clean_article,clean_summary,extractive_summary
0,1,https://www.liputan6.com/news/read/1/batas-pen...,"[['Liputan6', '.', 'com', ',', 'Jakarta', ':',...","[['Pemerintah', 'memberikan', 'tenggat', '14',...","[1, 8]"
1,10,https://www.liputan6.com/news/read/10/belasan-...,"[['Liputan6', '.', 'com', ',', 'Jakarta', ':',...","[['Satu', 'dari', '20', 'orang', 'Indonesia', ...","[2, 4]"
2,1000,https://www.liputan6.com/news/read/1000/lagi--...,"[['Liputan6', '.', 'com', ',', 'Banda', 'Aceh'...","[['Peledakan', 'bom', 'kembali', 'terjadi', 'd...","[2, 5]"
3,10000,https://www.liputan6.com/news/read/10000/penge...,"[['Liputan6', '.', 'com', ',', 'Surabaya', ':'...","[['Polres', 'Surabaya', 'Timur', 'menangkap', ...","[0, 5]"
4,10001,https://www.liputan6.com/news/read/10001/menye...,"[['Liputan6', '.', 'com', ',', 'Jakarta', ':',...","[['Lima', 'seniman', 'Yogyakarta', 'dan', 'Bal...","[0, 2]"

Extract dan Convert file JSON to CSV (test)

In [ ]:
def read_file_json_test(directory_test, output_test_csv):
    data_list_test = []
    for filename in os.listdir(directory_test):
        if filename.endswith('.json'):
            filepath_test = os.path.join(directory_test, filename)
            with open(filepath_test, 'r', encoding='utf-8') as f:
                data_test = json.load(f) # baca .json data
                data_list_test.append(data_test)
    df_test = pd.DataFrame(data_list_test)
    df_test.to_csv(output_test_csv, index=False)
    print(f'Data disimpan ke {output_test_csv}')

directory_test = "../data/liputan6_data/canonical/test"
output_test_csv = "liputan6_data/canonical/test_data.csv"
read_file_json_test(directory_test, output_test_csv)

Data disimpan ke liputan6_data/canonical/test_data.csv

In [7]:
df_train = pd.read_csv('liputan6_data/canonical/train_data.csv')
df_train.head()

,id,url,clean_article,clean_summary,extractive_summary
0,100000,https://www.liputan6.com/news/read/100000/yudh...,"[['Liputan6', '.', 'com', ',', 'Jakarta', ':',...","[['Menurut', 'Presiden', 'Susilo', 'Bambang', ...","[0, 1]"
1,100002,https://www.liputan6.com/news/read/100002/jepa...,"[['Liputan6', '.', 'com', ',', 'Jakarta', ':',...","[['Pada', 'masa', 'silam', 'Jepang', 'terlalu'...","[2, 3]"
2,100003,https://www.liputan6.com/news/read/100003/pulu...,"[['Liputan6', '.', 'com', ',', 'Kutai', ':', '...","[['Puluhan', 'hektare', 'areal', 'persawahan',...","[1, 5]"
3,100004,https://www.liputan6.com/news/read/100004/pres...,"[['Liputan6', '.', 'com', ',', 'Jakarta', ':',...","[['Sekjen', 'PBB', 'Kofi', 'Annan', 'memuji', ...","[2, 5]"
4,100005,https://www.liputan6.com/news/read/100005/warg...,"[['Liputan6', '.', 'com', ',', 'Solok', ':', '...","[['Untuk', 'mempercepat', 'pelaksanaan', 'bela...","[0, 2]"